In [1]:
# same deal for gdrive and kaggle
from google.colab import drive
drive.mount('/content/drive')

!rm -r ~/.kaggle
!mkdir ~/.kaggle
!cp /content/drive/MyDrive/.kaggle/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!pip install -q kaggle

Mounted at /content/drive
rm: cannot remove '/root/.kaggle': No such file or directory

In [2]:
# install dataset and unzip

!rm -r dataset
!kaggle datasets download -d ellipticco/elliptic-data-set
!mkdir dataset
!unzip elliptic-data-set.zip -d dataset

rm: cannot remove 'dataset': No such file or directory
Downloading elliptic-data-set.zip to /content
 91% 133M/146M [00:01<00:00, 110MB/s]
100% 146M/146M [00:01<00:00, 106MB/s]
Archive:  elliptic-data-set.zip
  inflating: dataset/elliptic_bitcoin_dataset/elliptic_txs_classes.csv
  inflating: dataset/elliptic_bitcoin_dataset/elliptic_txs_edgelist.csv
  inflating: dataset/elliptic_bitcoin_dataset/elliptic_txs_features.csv

In [4]:
import pandas as pd

classes = pd.read_csv('dataset/elliptic_bitcoin_dataset/elliptic_txs_classes.csv')
edges = pd.read_csv('dataset/elliptic_bitcoin_dataset/elliptic_txs_edgelist.csv')
features = pd.read_csv('dataset/elliptic_bitcoin_dataset/elliptic_txs_features.csv')

In [5]:
edges

            txId1      txId2
0       230425980    5530458
1       232022460  232438397
2       230460314  230459870
3       230333930  230595899
4       232013274  232029206
...           ...        ...
234350  158365409  157930723
234351  188708874  188708879
234352  157659064  157659046
234353   87414554  106877725
234354  158589452  158589457

[234355 rows x 2 columns]